$main: #985F99;
$background:    #FCEDFF;
$accent: #E4CDEA;
$text: #302738;

body {
  background-color: $background;
  color: $text;
  @font-face {
    font-family: "Chewy";
    src: url(/public/font/Chewy-Regular.ttf);
  }
  font-family: Chewy, sans-serif;

  .nav-link {
    color: $main;

    .nav-link:hover {
      color: $accent;
    }

    .nav-link:visited {
      color: $text;
    }
  }

  .browse-confession {
    .browse-confession:hover {
      background-color: rgba(0, 0, 0, 0.36);
    }
  }

  button,
  a button,
  .buttons button {
    background-color: $main;

    a:hover {
      background-color: $accent;
    }
  }

  #confession {
    border: 2px solid $main;
  }
}
