* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block; // Added as per issue #1
    width: 100vw;
    height: 50px;

    ul {
        float: right;
        margin: 10px 25px 10px 100px;

        li {

            display: inline-block;

            
            a {
                text-decoration: none;
                list-style-type: none;
                margin-left: 25px;
            }
        }

    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #main-img {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .title {
        font-size: 75px;
        margin-top: 0;
    }
    
    .home-text {
        width: 100ch;
        font-size: 15pt;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .buttons {
        display: inline-block;
        margin: 10px 0;

        #confess-button-1 {
            margin-right: 15px;
        }
    }

    // .confessing {
    //     display: none;
    // }

    .button-1 {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: 12pt;
    }

    .button-2 {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: 12pt;

    }

    .button-1, .button-2:hover {
        cursor: pointer;
    }

    // #view-button {
    //     display: none;
    // }

    .hidden {
        display: none;
    }

    input[type="file"], form textarea {
        border-radius: 10px;
    }

    form textarea {
        width: 100%;
        padding: 2%;
        min-height: 40px;
        resize: none;        /* prevents manual dragging */
        overflow: hidden;    /* hides scrollbars */
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 40px;
    }

    input[type="file"] {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        font-size: 12pt;
        margin-right: 40%;
    }
}