body {
  background-color: #FCEDFF;
  color: #302738;
}
@font-face {
  font-family: "Chewy";
  src: url(/public/font/Chewy-Regular.ttf);
}
body {
  font-family: Chewy, sans-serif;
}
body .nav-link {
  color: #985F99;
}
body .nav-link .nav-link:hover {
  color: #E4CDEA;
}
body .nav-link .nav-link:visited {
  color: #302738;
}
body .browse-confession .browse-confession:hover {
  background-color: rgba(0, 0, 0, 0.36);
}
body button,
body a button,
body .buttons button {
  background-color: #985F99;
}
body button a:hover,
body a button a:hover,
body .buttons button a:hover {
  background-color: #E4CDEA;
}
body #confession {
  border: 2px solid #985F99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: inline-block;
  width: 100vw;
  height: 50px;
}
nav .nav-img {
  width: 75px;
  height: 75px;
}
nav ul {
  float: right;
  margin: 10px 25px 10px 100px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  list-style-type: none;
  margin-left: 25px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}
main #main-img {
  margin-top: 50px;
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}
main .title {
  font-size: 75px;
  margin-top: 0;
}
main .home-text {
  width: 100ch;
  font-size: 15pt;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: lighter;
}
main .buttons {
  display: inline-block;
  margin: 10px 0;
}
main .buttons #confess-button-1, main .buttons #view-button {
  margin-right: 15px;
}
main .button-1 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
}
main .button-2 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
}
main .button-1, main .button-2:hover {
  cursor: pointer;
}
main .hidden {
  display: none;
}
main input[type=file], main form textarea {
  border-radius: 10px;
}
main form textarea {
  width: 100%;
  padding: 2%;
  min-height: 40px;
  resize: none; /* prevents manual dragging */
  overflow: hidden; /* hides scrollbars */
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 40px;
}
main input[type=file] {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
  margin-right: 40%;
}

/* BROWSE */
.container {
  display: flex;
}

.confessions {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 5%;
  row-gap: 100px;
  overflow: hidden;
}

.browse-confession {
  display: flex;
  column-gap: 20px;
  align-items: center;
  gap: 300px;
}
.browse-confession .browse-confession:hover {
  cursor: pointer;
}
.browse-confession {
  /* animate to slowly fade in from the middle*/
}
.browse-confession #browse-text {
  font-size: 15pt;
  text-align: center;
  margin-top: 30px;
}
.browse-confession img:hover {
  cursor: pointer;
}

.like-toggle:hover {
  cursor: pointer;
}

/* CONTACT */
#contact-main {
  all: unset;
  display: flex;
  margin: 100px;
  gap: 300px;
}
#contact-main .section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact-main .section h1, #contact-main .section h3 {
  text-align: center;
}
#contact-main form {
  display: flex;
  flex-direction: column;
}
#contact-main form label {
  margin-top: 30px;
}
#contact-main form label, #contact-main form select, #contact-main form input {
  margin-bottom: 15px;
}
#contact-main form button[type=submit] {
  margin: 25px 0;
  width: 100px;
  height: 25px;
  border-radius: 10px;
}
#contact-main form input {
  width: 150px;
  border-radius: 10px;
}
#contact-main form select {
  width: 150px;
}
#contact-main form .form-detail {
  width: 300px;
  overflow-wrap: break-word;
}
#contact-main form .radio-div {
  display: inline-block;
}
#contact-main form input[type=radio] {
  width: 10px;
}
#contact-main form label {
  margin-right: 25px;
}
#contact-main #left {
  float: left;
}
#contact-main #right {
  float: right;
}

/*# sourceMappingURL=main.css.map */
